i.icon{
    font-size:2em;
}

.container.main{
    margin-top:7.0em;
}

#delete {
    display:inline;
}

.about-wrapper{
    position: relative;
    padding: 0px;
    float: left;
    color: black;

}

.top-section{
    margin: 7%  8% 0% 8%;

}

.about-wrapper ul li{
    list-style: none;
    margin-left: 0px;
}
.about-wrapper .stop-mark{
    color: dodgerblue;
    font-size: 20px;
}
.about-wrapper .about{ 
    float: left;
}
  
.about-wrapper .about-section{
    width: 65%;
}


.about-wrapper .ref{
    width:30%; 
    margin-left: 5% ; 
   
}