/* large screens */
@media all and (max-width: 1024px) {
	.footer-link-section{
	  height:400px	
      
	}
}

/* For Tablets */
@media all and (max-width: 1000px) {

  .top-section .mobiletitle{
    display: inline-block;
    padding: 5px 0px 5px 10px;
    padding-left: 20px;
    font-size: 25px;
    color: #3daa8a; 
 }


 .bottom-section .nametitle{
    display: none;
  }
  
	.top-section .manager-signin{
    font-size:14px;
    color: #3daa8a;
  }
	.bottom-section a{
    text-align: center;
    float: right;    
    font-size: 16px;
    margin-right: 20px;
    padding: 5px;
	}

	.bottom-section :hover a {
    color: #3daa8a; 
  } 
  .bottom-section a:active {
    color: #3daa8a; 
  } 
  

 /*footer links*/
footer{
  background-color: #1f262e;
  height: 1200px;
}
 .footer-link-section h4{
  font-size: 20px;
  }

.footer-link-section{
  /* width:auto; */
  float: left;
  margin: 0px;
  width: 25%;
  padding-top: 20px;
}

}

/* For Smartphones */
@media all and (max-width: 670px) {
  header {

    position: fixed;
    height:auto ;

  }
  .top-section .mobiletitle{
    display: inline-block;
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    color: #3daa8a; 
 }


 .bottom-section .nametitle{
    display: none;
  }
  
	.top-section .manager-signin{
    font-size:12px;
    color: #3daa8a;
  }
	.bottom-section a{
    text-align: center;
    float: left;    
    font-size: 14px;
    margin: 3px;
    padding: 5px;
	}

	.bottom-section :hover a {
    color: #3daa8a; 
  } 
  .bottom-section a:active {
    color: #3daa8a; 
  } 
 
.copyright{
  font-size: 10px;
}

  /* Add CSS for menu-icon */
  /* .bottom-section a:not(:first-child){display: none;}
  .bottom-section a.menu-icon{
    float: right;
    display: block;
  }
.bottom-section.responsive {position: relative; } 
.bottom-section.responsive a.menu-icon{
  position: absolute;
  right: 0; 
  top:0;
} */
}
